In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Downloads/the-movies-dataset/movies_metadata.csv", low_memory=False)

In [3]:
#by using KNN and OLS, I'm going to predict the vote_average score.
#before I start: clean, scale the data.
#for KNN, I'll find similar movies (with varying K values-will have to find the best k value).  Then I will 
#take the average of those similar movie's rating scores to predict my movie in question's rating score.
#I will compare that result to OLS model to see which performed better at predicting the rating score.

In [4]:
df1=pd.DataFrame(df[['budget','genres','revenue','title','vote_average','vote_count']])

In [5]:
listOfGenres=['Animation', 'Adventure', 'Romance', 'Action', 'Comedy', 'Drama', 'Crime', 
              'History', 'Family', 'Fantasy', 'Science Fiction','Thriller', 
              'Music', 'Horror', 'Documentary', 'Mystery']

In [12]:
data=pd.DataFrame(df1['genres'])

In [13]:
for k in range(len(data)):
    col=data['genres'][k]
    genre_list=[]
    for genre in listOfGenres:
        if genre in col:
            genre_list.append(1)
        else:
            genre_list.append(0)
    data['genres'][k]= np.array(genre_list)

In [14]:
df1['genres']=data['genres']

In [15]:
df1.head(10)

,budget,genres,revenue,title,vote_average,vote_count
0,30000000,"[1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]",373554033.0,Toy Story,7.7,5415.0
1,65000000,"[0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0]",262797249.0,Jumanji,6.9,2413.0
2,0,"[0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0.0,Grumpier Old Men,6.5,92.0
3,16000000,"[0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",81452156.0,Waiting to Exhale,6.1,34.0
4,0,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",76578911.0,Father of the Bride Part II,5.7,173.0
5,60000000,"[0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0]",187436818.0,Heat,7.7,1886.0
6,58000000,"[0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0.0,Sabrina,6.2,141.0
7,0,"[0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]",0.0,Tom and Huck,5.4,45.0
8,35000000,"[0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",64350171.0,Sudden Death,5.5,174.0
9,58000000,"[0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",352194034.0,GoldenEye,6.6,1194.0