In [130]:
import pandas as pd
import numpy as np

In [131]:
df=pd.read_csv("Downloads/the-movies-dataset/movies_metadata.csv", low_memory=False)
len(df)

45466

In [132]:
#by using KNN and OLS, I'm going to predict the vote_average score.
#before I start: clean, scale the data.
#for KNN, I'll find similar movies (with varying K values-will have to find the best k value).  Then I will 
#take the average of those similar movie's rating scores to predict my movie in question's rating score.
#I will compare that result to OLS model to see which performed better at predicting the rating score.

In [133]:
df1=pd.DataFrame(df[['budget','genres','revenue','title','vote_average','vote_count']])
df1.head()

,budget,genres,revenue,title,vote_average,vote_count
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",373554033.0,Toy Story,7.7,5415.0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",262797249.0,Jumanji,6.9,2413.0
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0.0,Grumpier Old Men,6.5,92.0
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",81452156.0,Waiting to Exhale,6.1,34.0
4,0,"[{'id': 35, 'name': 'Comedy'}]",76578911.0,Father of the Bride Part II,5.7,173.0

In [134]:
#Types of genres:
#Animation, Adventure, Romance, Action, Comedy, Drama, Crime, History, Family, Fantasy, Science Fiction
#Thriller, Music, Horror, Documentary,Mystery

In [135]:
df1.iloc[0,1]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [141]:
[1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0]

[1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

In [139]:
listOfGenres=['Animation', 'Adventure', 'Romance', 'Action', 'Comedy', 'Drama', 'Crime', 
              'History', 'Family', 'Fantasy', 'Science Fiction','Thriller', 
              'Music', 'Horror', 'Documentary', 'Mystery']

In [142]:
def getMovieGenres():
    movie_genres=[]
    for genre in listOfGenres:
        for x in df1['genres']:
            if genre in x:
                movie_genres.append(1) 
            else:
                movie_genres.append(0)
            return movie_genres

In [144]:
#df1['genres']=getMovieGenres()

In [ ]:
#df1['genres']